/* .page-container {
    height: 100dvh;
    overflow: hidden;
} */

.main-container {
    width: min(100%, 1000px);
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* 
.main-container main {
    height: 100%;
} */

.main-page-nostr-container {
    width: 100%;
    /* height: 100%; */
    position: relative;
    z-index: 200;
}

.uplift-page-offset {
    padding-top: 84px;
    box-sizing: border-box;
}

/* Base Utility Overrides to match V5 */
.fx-scattered {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fx-col {
    display: flex;
    flex-direction: column;
}

.box-pad-h-s {
    padding-left: 12px;
    padding-right: 12px;
}

.box-pad-v-s {
    padding-top: 12px;
    padding-bottom: 12px;
}

.box-pad-h-m {
    padding-left: 16px;
    padding-right: 16px;
}

.box-pad-v-m {
    padding-top: 16px;
    padding-bottom: 16px;
}